
**/.venv
**/.venv/**

**/__pycache__
**/__pycache__/**

**/.pytest_cache
**/.pytest_cache/**

tests/generated_*
tests/generated_*/**

tests/mockcontainer/results
tests/mockcontainer/results/**

tests/scikit-metrics-container/results
tests/scikit-metrics-container/results/**

tests/workflows/results
tests/workflows/results/**

**/.idea
**/.idea/**

**/diff.txt